p.os-strong {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
}

table#locator-step1, table#locator-step2, table#locator-step3, table#locator-step4 {
	display: block;
	margin: 15px 0 0 15px;
}

table#locator-step1 label, table#locator-step2 label, table#locator-step3 label {
	display: inline-block;
	margin-bottom: 3px;
}

table#locator-step1 td, table#locator-step3 td, table#locator-step4 td {
	padding: 0 10px;
}

table#locator-step2 td {
	padding: 5px 10px;
}

table#locator-step2 td.top {
	padding: 0 5px 10px 5px;
}

table#locator-step3 td.top {
	padding: 0 0 10px 0;
}

table#locator-step4 td.top {
	padding-left: 0;
}

table#product-input tr {
	border-bottom: 1px solid #CCC;
}

table#product-input tr.top, table#product-input tr.btm {
	border-bottom: none;
}

table p.os-strong {
	display: block;
	font-size: 15px;
	color: #355495;
}

/* RESULTS TABLES */

.results-header h3 {
	font-size: 16px;
}

.results-header {
	padding: 5px 0;	
}

#table-label {
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	padding: 14px 0 5px 0;
}

td.b-right {
	border-right: 1px dotted #AAA;
	width: 25%;
}

hr.custom-rule {
	margin: 0;
	border-top: 1px dotted #AAA;
	border-bottom: 1px solid #ECF0F2;
}

ul.result {
	list-style-type: none;
	margin-left: 0;
}

#right-column ul.result li {
	margin-bottom: 0;
}

#results-table {
	width: 100%;
	margin-top: 10px;
	border-bottom: 1px solid #BBB;
}

a.tip-link {
	display: inline-block;
}

#list-view, #search-results, #search-form {
}

.bluetext {
	color: #355495;
}

#list-nav {
	margin-bottom: 15px;
}

/* DATATABLE */

#right-column #datatable tr td {
	font-size: 13px;
}

#right-column #datatable tr td.phone {
	width: 100px;
}

td span.os-strong {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: #355495;
}

#viewall-container {
	margin: 15px 0 0 0;
}

#footer {
	text-align: center;
	color: #FFF;
	margin: 60px auto 15px;
}